@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(43, 48, 58);
    
}

.header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
}

.elemento-pai {
    margin: auto;
    width: 50%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.elemento-filho {
    display: flex;
    flex-direction: column;
}

.titulo-video {
    padding: 5px;
    font-size: 20px;
}

img {
    border-radius: 10px;
}

.vizualizacao {
    padding-bottom: 5px;
    font-size: 15px;
}